body {
    background-color: #c5e4f0;
    font-family: 'Exo', sans-serif;
}

.container-flex {
    margin: 5vh 10vw;
}

#categoryChooser {
    height: 4rem;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2vh;
}

h1 {
    margin: 2vh auto;
    font-weight: 700;
}

button.category {
    background-color: white;
    width: 90%;
    height: 200px;
    margin: 2vh auto;
}

button.category img {
    height: 80%;
    max-width: 80%;
    object-fit: scale-down;
}

button.category h5 {
    font-size: 1.5rem;
}